<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="topbar"></div>
            <div class="logo">
            </div>
            <div class="user">
                <img src="" alt="">
            </div>

            <div class="sidebar">
                <ul>
                    <li>
                        <a href="">
                            <i class="fas fa-th-large "></i>
                            <div>Dashboard</div>
                            
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-user"></i>
                            <div>users</div>
                            
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-chalkboard"></i>
                            <div>clients</div>
                            
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-chart-bar"></i>
                            <div>KPI</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-question"></i>
                            <div>Questions</div>
                        </a>
                    </li>
                </ul>
            </div>
        <div class="main"></div>
        
    </div>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</html>